body {
   margin: 0 auto;
   font-family: 'Montserrat', sans-serif;
}
header{
  background: #2D3338;
  height: 6em;
}
.bt_menu{
  display: none;
}
.indiceNav{
  color:#fff;
  font-weight: bold;
  font-size: 1.5em;
  margin: 1em 0.5em;
}
header nav{
  margin-left: 50%;
  margin-top: 3%;
}
header nav ul {
  list-style: none;
  overflow: hidden;
}
header nav ul li {
  float: left;
}
nav ul li a{
  text-decoration: none;
  color: #7D7D7F;
  font-size: 1em;
  display: block;
  padding: 0.5em;
}
nav ul li a:hover {
  font-weight: bold;
  color: #fff;
}
.hero{
  height: 25em;
  background-image: url(../img/chile.jpg);
  background-size: cover;
  background-position: center;
  padding-top: 5em;
}
.title_p{
  text-align: center;
  color: #000;
  font-size: 5em;
}
.first_titles{
  padding-bottom: 5%;
}
.sectionTitle, .paragraph, .paragraph2 .btn{
  padding-top: 2%;
}
.paragraph{
  padding-bottom: 1em;
}
.paragraph2{
  padding-bottom: 2em;
}
.contact, .direction, .phone, .mail{
  padding-top: 3%;
}
.subtitle{
  padding-top: 3%;
}
.direction{
  width: 60%;
}
span{
  padding-right: 5%;
}
.btn{
  text-decoration: none;
  color: #FFF;
  background-color: #007D65;
  border: 0.1em solid #007D65;
  border-radius: 0.4em;
  -moz-border-radius: 0.4em;
  -webkit-border-radius: 0.4em;
  padding: 0.6em;
}
/*.menu_pictures{
  outline: 2px solid blue;
}*/
img{
  width: 19em;
  height: 12.5em;
  text-align: center;
}
.picture{
}
.right, .center, .left{
  border: 0.1em solid #C8CECD;
  width: 19.2em;
  padding: 0 0 5% 0;
}
.card{
  padding: 1em;
}
.paragraphCard{
  padding: 0.5em 0 2em 1.5em;
  font-size: 0.8em;
}
.btnCard{
  margin-left: 5%;
  width: 300px;
  text-decoration: none;
  color: #FFF;
  background-color: #007D65;
  border: 1px solid #007D65;
  border-radius: 0.4em 0.4em 0.4em 0.4em;
  -moz-border-radius: 0.4em 0.4em 0.4em 0.4em;
  -webkit-border-radius: 0.4em 0.4em 0.4em 0.4em;
  padding: 0.6em;
  font-size: 0.7em;
}
footer{
  margin-top: 2em;
  background: #2D3338;
  width: 100%;
  height: 5em;
}
.footerParagraph{
  color: #FFF;
  text-align: center;
  padding-top: 2em;
}
