@media (min-width:350px) and (max-width:767px){ /*primero siempre colacamos el mínimo*/
  [class*='col-4']{
    width: 100%;
  }
  header nav {
    display: none;
  }
  .indiceNav{
    margin: 0;
    font-size: 1em;
    margin-top: 2em;
  }
  .menu{
    text-align: right;
  }
  .bt_menu{
    margin-top: 1em;
    display:inline-block;
    text-decoration: none;
    color: #FFF;
    font-size: 1.5em;
    font-weight: bold;
  }
  .bt_menu span{
    border: 0.1em solid #FFF;
    border-radius: 0.2em;
    -moz-border-radius: 0.2em;
    -webkit-border-radius:0.2em;
    padding: 0.1em 0.4em 0.1em 0.4em;
  }
  .title_p{
    font-size: 3em;
  }
  .center, .right{
    margin-top: 5%;
  }
  .direction{
    width: 35%;
  }
  .contact, .direction, .phone, .mail{
    padding-top: 1%;
  }
}
