@media (min-width:300px) and (max-width:767px){ /*primero siempre colacamos el mínimo*/
  /*[class*='col-']{ /*para que las columnas ocupen el 100% del ancho cuando llega a cierto tamaño, para acceder a todas las clases*/
  /*  width: 100%;
  }*/
  [class*='col-4']{
    width: 100%;
  }
  header nav {
    display: none;
  }
  .indiceNav{
    margin: 0;
  }
  .menu{
    text-align: right;
  }
  .bt_menu{
    display:inline-block;
    text-decoration: none;
    color: #FFF;
    font-size: 2em;
    font-weight: bold;
  }
  .bt_menu span{
    border: 1px solid #FFF;
    border-radius: 0.2em;
    -moz-border-radius: 0.2em;
    -webkit-border-radius:0.2em;
    padding: 0.1em 0.4em 0.1em 0.4em;
  }
  .center, .right{
    margin-top: 5%;
  }
  .direction{
    width: 35%;
  }
  .contact, .direction, .phone, .mail{
    padding-top: 1%;
  }
}
